
<!-- When updating this macro's parameters, update also macro calls in course/index.html and course/show.html -->

{% macro course_show(base_path, course, player, games_played, latest_game, avg_score, par, high_scores, chrono_high_scores, chrono_high_scores_player, score_distribution) %}

  <table style="width:300px">
    <tr>
      <td>Pelatut pelit:</td>
      <td>{{games_played}}</td>
    </tr>
    <tr>
      <td>Viimeisin peli:</td>
      <td>{% if games_played > 0 %}{{latest_game}}{% else %}Ei pelejä{% endif %}</td>
    </tr>
    <tr>
      <td>Tulosten keskiarvo:</td>
      <td>{% if games_played > 0 %}{{avg_score}}{% else %}Ei pelejä{% endif %}</td>
    </tr>
    <tr>
      <td></td> <!-- This row is left intentionally blank -->
    </tr>
    <tr>
      <td>Sää:</td>
      <td id="description"></td>
    </tr>
    <tr>
      <td>Lämpötila:</td>
      <td id="temperature"></td>
    </tr>
    <tr>
      <td>Tuuli:</td>
      <td id="wind"></td>
    </tr>
  </table>

  <br><br>

  <a href="{{base_path}}/game?course={{course.courseid}}" class="btn btn-default" role="button">Kaikki pelit radalla</a>
  <br><br>
  <a href="{{base_path}}/game?course={{course.courseid}}&player={{player.playerid}}" class="btn btn-default btn-sm" role="button">Omat pelisi radalla</a>

  <br><br>

  <h3>Väylät</h3>

  <table class="course_holes" width='550px'>
    <tr>
      <th class="course_holes">Väylä</th>
      {% for hole in course.holes %}
        <td class="course_holes">{{hole.hole_num}}</td>
      {% endfor %}
      <td>Σ</td>
    </tr>
    <tr>
      <th class="course_holes">Par</th>
      {% for hole in course.holes %}
        <td class="course_holes">{{hole.par}}</td>
      {% endfor %}
      <td class="course_holes">{{par}}</td>
    </tr>
  </table>

  <br><br>

  <a href="{{course.map}}" class="btn btn-default btn-sm" role="button">Katso ratakartta</a>

  <br><br>

  <h3>Parhaat tulokset</h3>

  {% if games_played > 0 %}
    <table style="width:700px">
      <tr>
        <td><b>Sija</b></td>
        <td><b>Päivämäärä</b></td>
        <td><b>Pelaaja</b></td>
        <td><b>Tulos</b></td>
        <td align="right"><b>Par</b></td>
      </tr>
      {% for i in 0..high_scores|length - 1 %}
        <tr>
          <td>{{i + 1}}.</td>
          <td>{{high_scores[i][0]}}</td>
          <td>{{high_scores[i][1]}}</td>
          <td>{{high_scores[i][2]}}</td>
          <td align="right">{{high_scores[i][3]}}</td></td>
          <td style="padding-left:30px">
            <a href="{{base_path}}/game/{{high_scores[i][4]}}" class="btn btn-default btn-xs" role="button">Katso tuloskortti</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Ei pelejä</p>
  {% endif %}

  <br><br>

  <h3>Rataennätysten kehitys</h3>

  <a class="btn btn-primary btn-xs disabled_link" id="omatennatykset">Omat ennätykset</a>
  <a class="btn btn-default btn-xs" id="rataennatykset">Rataennätykset</a>

  <div id="coursehighscores" style="width: 700px; height: 450px;"></div>
  <div id="courseplayerhighscores" style="width: 700px; height: 450px;"></div>

  <br><br>

  <h3>Tulosten jakautuminen väylillä</h3>

  <div id="scoredistribution" style="width: 790px; height: 450px;"></div>

  <!-- Graph data -->
  {% for gamedate,course_high_score in chrono_high_scores %}
    <span class="highscoresforjs">{{gamedate}},{{course_high_score}}</span>
  {% endfor %}

  {% for gamedate,course_high_score in chrono_high_scores_player %}
    <span class="playerhighscoresforjs">{{gamedate}},{{course_high_score}}</span>
  {% endfor %}

  {% for row in score_distribution %}
    <span class="scoredistributionforjs">{{row['hole_num']}},{{row['hole_in_one']}},{{row['birdie']}},{{row['par']}},{{row['bogey']}},{{row['over_bogey']}}
    </span>
  {% endfor %}

{% endmacro %}
