{% macro list_games(games, players, base_path, admin_logged_in, show_edit, user_logged_in) %}
  <table width=60%>
    <tr>
      <td>Olosuhteina voi olla:</td>
      <td>Värikoodaus:</td>
    </tr>
    <tr>
      <td>
        <li>sadetta</li>
        <li>märkää (ei sadetta)</li>
        <li>tuulista</li>
        <li>poikkeava rata</li>
        <li>pimeää</li>
        <li>LED</li>
        <li>lunta</li>
      </td>
      <td valign="top">
        <li><font color="red">hole in one</font></li>
        <li><font color="yellow">eagle</font></li>
        <li><font color="#00FF00">birdie</font></li>
        <li><font color="#A7C942">par</font></li>
        <li><font color="orange">bogey</font></li>
        <li><font color="#8E668E">over bogey</font></li>
      </td>
    </tr>
  </table>

  {% for game in games %}
    <br><br><br>
    <table id='card'>
      <tr>
        <th colspan=30>
          <a class="hidden_link_score_card" href="{{base_path}}/game/{{game.gameid}}">{{game.course.name}}</a>
        </th>
      </tr>
      <tr>
        <th colspan=30 class='date'>
          <a class="hidden_link_score_card" href="{{base_path}}/game/{{game.gameid}}">{{game.gamedate}}</a>
        </th>
      </tr>
      <tr>
        <td class='names'>Väylä</td>

        {% for hole_num in 1..game.course.number_of_holes %}
          <td>{{hole_num}}</td>
        {% endfor %}

        <td>tulos</td>
        <td>par</td>
      </tr>
      <tr>
        <td class='names'>PAR</td>

        <!-- {% set total_par = 0 %} -->

        {% for hole in game.course.holes %}
          <td>{{hole.par}}</td>
          <!-- {% set total_par = total_par + hole.par %} -->
        {% endfor %}

        <td>{{total_par}}</td>
        <td>0</td>
      </tr>

        <!-- Cycle through every player's scores in the game and display them on their own row -->
        {% for playerid,scores in game.scores %}
          <tr>
          <!-- Array 'players' is ordered by playerid ASC, so to get the player by id: players[playerid - 1] -->
          <!-- <td class='names'>{{players[playerid].firstname}}</td> -->
          <td class='names'>{{players[playerid|trim('player') - 1].firstname}}</td>

          {% set total_score = 0 %}
          {% set total_par = 0 %}

          {% for score in scores %}

            <!-- Score card color coding -->
            {% if score.stroke == 0 %}
              <td>
            {% elseif score.stroke == 1 %}
              <td class='hole_in_one'>
            {% elseif score.stroke + score.ob + 2 == score.hole_par %}
              <td class='eagle'>
            {% elseif score.stroke + score.ob + 1 == score.hole_par %}
              <td class='birdie'>
            {% elseif score.stroke + score.ob == score.hole_par %}
              <td class='par'>
            {% elseif score.stroke + score.ob - score.hole_par == 1 %}
              <td class='bogey'>
            {% else %}
              <td class='over_bogey'>
            {% endif %}

            {% if score.stroke == 0 %}
              -
            {% else %}
              {{score.stroke}}
              {% set total_par = total_par + score.hole_par %}
            {% endif %}

            <!-- Display OB strokes -->
            <table>
              <tr>
                {% if score.ob != 0 %}
                  {% for i in 1..score.ob %}
                    <td class='ob'></td>
                  {% endfor %}
                {% endif %}
              </tr>
            </table>

            </td>

            {% set total_score = total_score + score.stroke + score.ob %}

          {% endfor %}

          <!-- Display player's total score and compared to par -->
          <td>{{total_score}}</td>

          {% set to_par = total_score - total_par %}
          {% if to_par > 0 %}
            <td>+{{to_par}}</td>
          {% else %}
            <td>{{to_par}}</td>
          {% endif %}

          </tr>

        {% endfor %}

      <!-- Display illegal scorers if there are any -->
      {% if game.illegal_scorers %}
        <tr>
          <td class="names">Laiton peli</td>
          <td colspan="30" class="names">{{game.illegal_scorers}}</td>
        </tr>
      {% endif %}

      <!-- Display contest name if the game is part of a contest -->
      {% if game.contest_name %}
        <tr>
          <td class="names">Kisa</td>
          <td colspan="30" class="names">{{game.contest_name}}</td>
        </tr>
      {% endif %}

      <!-- Display high scorers if there are any -->
      {% if game.high_scorers %}
        <tr>
          <td class="names">Ennätys</td>
          <td colspan="30" class="names">{{game.high_scorers}}</td>
        </tr>
      {% endif %}

      <!-- Display game conditions if there are any -->
      {% if game.conditions %}
        <tr>
          <td class='names'>Olosuhteet</td>
          <td colspan=30 class='names'>{{game.conditions}}</td>
        </tr>
      {% endif %}

      <!-- Display game weather -->
      {% if game.weather %}
        <tr>
          <td class='names'>Sää</td>
          <td colspan=30 class='names'>{{game.weather}}</td>
        </tr>
      {% endif %}

      <!-- Display comments if there are any -->
      {% if game.comment %}
        <tr>
          <td class='names'>Kommentit</td>
          <td colspan=30 class='names'>{{game.comment}}</td>
        </tr>
      {% endif %}

    </table>

    {% if (user_logged_in.playerid == game.creator or admin_logged_in) and show_edit %}
      <a href="{{base_path}}/game/{{game.gameid}}/edit" class="btn btn-default btn-xs" role="button">Muokkaa</a>
    {% endif %}

  {% endfor %}

{% endmacro %}
