{% macro game(base_path, pages, curr_page, prev_page, next_page, current_year, courseid_param, playerid_param) %}
  <nav>
    <ul class="pagination">
      <li class="{% if not prev_page %}disabled{% endif %}">
          <a class="{% if not prev_page %}disabled_link{% endif %}" href="{{base_path}}/game?page={{prev_page}}&year={{current_year}}">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
          </a>
      </li>
      {% if pages > 0 %}
        {% for page in 1..pages %}
          <li class="{% if curr_page == page %}active{% endif %}">
            <a class="{% if curr_page == page %}disabled_link{% endif %}" href="{{base_path}}/game?page={{page}}{% if courseid_param %}&course={{courseid_param}}{% endif %}{% if playerid_param %}&player={{playerid_param}}{% endif %}&year={{current_year}}">{{page}}</a>
          </li>
        {% endfor %}
      {% else %}
        <!-- For pages with no content (pages=0) -->
        <li class="active">
          <a class="disabled_link" href="{{base_path}}/game?page={{page}}{% if courseid_param %}&course={{courseid_param}}{% endif %}{% if playerid_param %}&player={{playerid_param}}{% endif %}&year={{current_year}}">1</a>
        </li>
      {% endif %}
      <li class="{% if not next_page %}disabled{% endif %}">
        <a class="{% if not next_page %}disabled_link{% endif %}" href="{{base_path}}/game?page={{next_page}}{% if courseid_param %}&course={{courseid_param}}{% endif %}{% if playerid_param %}&player={{playerid_param}}{% endif %}&year={{current_year}}">
          <span aria-hidden="true">»</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
{% endmacro %}

{% macro search(pages, curr_page, prev_page, next_page) %}
  <nav id="pagination">
    <ul class="pagination">
      <li class="{% if not prev_page %}disabled{% endif %}">
          <a class="{% if not prev_page %}disabled_link{% endif %}">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
          </a>
      </li>
      {% if pages > 0 %}
        {% for page in 1..pages %}
          <li class="{% if curr_page == page %}active{% endif %}">
            <a class="{% if curr_page == page %}disabled_link{% endif %}">{{page}}</a>
          </li>
        {% endfor %}
      {% else %}
        <!-- For pages with no content (pages=0) -->
        <li class="active">
          <a class="disabled_link" href="">1</a>
        </li>
      {% endif %}
      <li class="{% if not next_page %}disabled{% endif %}">
        <a class="{% if not next_page %}disabled_link{% endif %}">
          <span aria-hidden="true">»</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
{% endmacro %}
