{% macro search() %}
  <div id="search-attributes" style="display: none;">
    <p>
      Hae pelejä tiedoilla:
    </p>
    <form class="form-group" id="conditions">
      <table style="width: 100%;">
        <tr>
          <td>
            <label>Sadetta:</label>
            <div class="row">
              <div class="col-sm-7">
                <select class="form-control" name="rain">
                  <option>Kumpi tahansa</option>
                  <option>Kyllä</option>
                  <option>Ei</option>
                </select>
              </div>
            </div>
          </td>
          <td>
            <label>Märkää (ei sadetta):</label>
            <div class="row">
              <div class="col-sm-7">
                <select class="form-control" name="wet_no_rain">
                  <option>Kumpi tahansa</option>
                  <option>Kyllä</option>
                  <option>Ei</option>
                </select>
              </div>
            </div>
          </td>
          <td>
            <label>Tuulista:</label>
            <div class="row">
              <div class="col-sm-7">
                <select class="form-control" name="windy">
                  <option>Kumpi tahansa</option>
                  <option>Kyllä</option>
                  <option>Ei</option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>poikkeava rata</td>
          <td>pimeää</td>
          <td>LED</td>
        </tr>
        <tr>
          <td>lunta</td>
        </tr>
      </table>
    </div>
    <br><br>
  </div>
{% endmacro %}
