{% extends "base.html" %}
{% block content %}

  {% import "macros/forms.html" as forms %}

  <h2>Muokkaa peliä radalla {{game.course.name}}, {{game.course.city}}</h2>

  {{forms.destroy_button("#{base_path}/game/#{game.gameid}/destroy")}}

  <br>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <br>

  <form method="post" action="{{base_path}}/game/{{game.gameid}}/edit">
    <div class="form-group">
      <label>Valitse olosuhteet</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="rain" value="1"
            {% if game.rain %}
              checked
            {% endif %}
          > Sadetta (rain)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="wet_no_rain" value="1"
            {% if game.wet_no_rain %}
              checked
            {% endif %}
          > Märkää (ei sadetta) (wet_no_rain)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="windy" value="1"
            {% if game.windy %}
              checked
            {% endif %}
          > Tuulta (windy)
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="variant" value="1"
            {% if game.variant %}
              checked
            {% endif %}
          > Poikkeava rata (variant)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="dark" value="1"
            {% if game.dark %}
              checked
            {% endif %}
          > Pimeää (dark)
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="led" value="1"
            {% if game.led %}
              checked
            {% endif %}
          > LED (led)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="snow" value="1"
            {% if game.snow %}
              checked
            {% endif %}
          > Lunta (snow)
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>Päivämäärä ja pelin päättymisaika</label>

      <div class="row">
        <div class="col-xs-1">
          Päivämäärä
        </div>
        <div class="col-xs-2">
          <input class="form-control" type="text" name="date" value="{{date}}">
        </div>
        <div class="col-xs-1">
          kellonaika
        </div>
        <div class="col-xs-2">
          <input class="form-control" type="text" name="time" value="{{time}}">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <label>Kommentit</label>
        <textarea class="form-control" name="comment" width="100px">{{game.comment}}</textarea>
      </div>
    </div>

    <br>

    {% for playername,scores in game.scores %}

      <h4>Pelaajan {{playername}} tulokset</h4>

      <div class="form-group">
        <label>Heitot</label>
        <table>
          <tr>
            {% for hole in game.course.holes %}
              <td>{{hole.hole_num}}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for score in scores %}
              <td><input class="form-control" type="text" name="hole{{score.hole.hole_num}}" value="{{score.stroke}}"></td>
            {% endfor %}
          </tr>
        </table>
      </div>

      <div class="form-group">
        <label>OB:t</label>
        <table>
          <tr>
            {% for hole in game.course.holes %}
              <td>{{hole.hole_num}}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for score in scores %}
              <td><input class="form-control" type="text" name="obhole{{score.hole.hole_num}}" value="{{score.ob}}"></td>
            {% endfor %}
          </tr>
        </table>
      </div>

    {% endfor %}

    <br>

    <input type="hidden" name="courseid" value="{{game.course.courseid}}">
    <input type="hidden" name="playerid" value="{{user_logged_in.playerid}}">

    <button type="submit" class="btn btn-default">Lähetä</button>
  </form>

{% endblock %}
