{% extends "base.html" %}

{% set current_page = 'game' %}

{% block content %}

  {% import "macros/forms.html" as forms %}
  {% import "macros/list_games.html" as list_games %}
  {% import "macros/pagination.html" as pagination %}

  {% if message is not null %}
    <div class="alert alert-success" id="message-success">
      {{message}}
    </div>
  {% endif %}

  {% if playerid_param and courseid_param %}
    <h2>Pelaajan {{players[playerid_param - 1].firstname}} pelit radalla {{courses_order_by_id[courseid_param - 1].name}}
  {% elseif playerid_param %}
    <h2>Pelaajan {{players[playerid_param - 1].firstname}} pelit
  {% elseif courseid_param %}
    <h2>Pelatut pelit radalla {{courses_order_by_id[courseid_param - 1].name}}
  {% else %}
    <h2>Pelatut pelit
  {% endif %}
  vuonna {{current_year}}</h2>

  <p>
    <a href="{{base_path}}/search" class="btn btn-default">Tarkennettu haku</a>
  </p>

  <br>

  <div>
    {% if courses %}
      {{forms.new_game(courses, players, base_path)}}
    {% else %}
      <label>Lisää ratoja ennen kuin voit lisätä pelejä</label>
    {% endif %}

    <br>

    <p>
      Tuloskortit ovat päivämäärän perusteella laskevassa järjestyksessä.
    </p>

    <p>
      Katso pelit vuodelta:
      <a href="{{base_path}}/game/old/2012" class="btn btn-default btn-xs">2012</a>
      <a href="{{base_path}}/game/old/2013" class="btn btn-default btn-xs">2013</a>

      {% for year in game_years %}
        {% if year == current_year %}
          <a class="btn btn-primary btn-xs disabled_link">{{year}}</a>
        {% else %}
          <a href="{{base_path}}/game?year={{year}}{% if courseid_param %}&course={{courseid_param}}{% endif %}{% if playerid_param %}&player={{playerid_param}}{% endif %}" class="btn btn-default btn-xs">{{year}}</a>
        {% endif %}
      {% endfor %}
    </p>

    {% if games %}

      {% set show_edit = false %}
      {{list_games.list_games(games, players, base_path, admin_logged_in, show_edit, user_logged_in)}}

      {{pagination.game(base_path, pages, curr_page, prev_page, next_page, current_year, courseid_param, playerid_param)}}

    {% else %}
      <p>
        Ei pelejä
      </p>
    {% endif %}
  </div>

{% endblock %}
