{% extends "base.html" %}

{% set current_page = 'game' %}

{% block content %}

  {% import "macros/forms.html" as forms %}
  {% import "macros/list_games.html" as list_games %}

  {% if message is not null %}
    <div class="alert alert-success" id="message-success">
      {{message}}
    </div>
  {% endif %}

  {% if playerid_param and courseid_param %}
    <h2>Pelaajan {{players[playerid_param - 1].firstname}} pelit radalla {{courses[courseid_param - 1].name}}
  {% elseif playerid_param %}
    <h2>Pelaajan {{players[playerid_param - 1].firstname}} pelit
  {% else %}
    <h2>Pelatut pelit
  {% endif %}
  vuonna {{current_year}}</h2>

  <br>

  {{forms.new_game(courses, players, base_path)}}

  <br>

  <p>
    Tuloskortit ovat päivämäärän perusteella laskevassa järjestyksessä.
  </p>

  <p>
    <!-- <div class="row">
      <div class="col-xs-3">
        Vanhemmat pelit:
      </div>
      <div class="col-xs-1">
        <a href="{{base_path}}/game/old" class="btn btn-default btn-xs">2012</a>
      </div>
    </div> -->
    Katso pelit vuodelta:
    <a href="{{base_path}}/game/old/2012" class="btn btn-default btn-xs">2012</a>
    <a href="{{base_path}}/game/old/2013" class="btn btn-default btn-xs">2013</a>

    {% for year in game_years %}
      {% if year == current_year %}
        <a class="btn btn-primary btn-xs disabled_link">{{year}}</a>
      {% else %}
        <a href="{{base_path}}/game?year={{year}}{% if courseid_param %}&course={{courseid_param}}{% endif %}{% if playerid_param %}&player={{playerid_param}}{% endif %}" class="btn btn-default btn-xs">{{year}}</a>
      {% endif %}
    {% endfor %}

  </p>

  {{list_games.list_games(games, players, base_path, admin_logged_in)}}

  <nav>
    <ul class="pagination">
      <li class="{% if not prev_page %}disabled{% endif %}">
          <a class="{% if not prev_page %}disabled_link{% endif %}" href="{{base_path}}/game?page={{prev_page}}&year={{current_year}}">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
          </a>
      </li>
      {% if pages > 0 %}
        {% for page in 1..pages %}
          <li class="{% if curr_page == page %}active{% endif %}">
            <a class="{% if curr_page == page %}disabled_link{% endif %}" href="{{base_path}}/game?page={{page}}{% if courseid_param %}&course={{courseid_param}}{% endif %}{% if playerid_param %}&player={{playerid_param}}{% endif %}&year={{current_year}}">{{page}}</a>
          </li>
        {% endfor %}
      {% else %}
        <!-- For pages with no content (pages=0) -->
        <li class="active">
          <a class="disabled_link" href="{{base_path}}/game?page={{page}}{% if courseid_param %}&course={{courseid_param}}{% endif %}{% if playerid_param %}&player={{playerid_param}}{% endif %}&year={{current_year}}">1</a>
        </li>
      {% endif %}
      <li class="{% if not next_page %}disabled{% endif %}">
        <a class="{% if not next_page %}disabled_link{% endif %}" href="{{base_path}}/game?page={{next_page}}{% if courseid_param %}&course={{courseid_param}}{% endif %}{% if playerid_param %}&player={{playerid_param}}{% endif %}&year={{current_year}}">
          <span aria-hidden="true">»</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

{% endblock %}
