{% extends "base.html" %}

{% set current_page = 'game' %}

{% block content %}

  {% import "macros/forms.html" as forms %}

  {% if message is not null %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <h2>Pelatut pelit</h2>

  <br>

  {{forms.new_game(courses, players, base_path)}}

  <br>

  <p>
    Tuloskortit ovat päivämäärän perusteella laskevassa järjestyksessä.
  </p>

  {{forms.list_games(games, base_path)}}

  <nav>
    <ul class="pagination">
      <li class="{% if not prev_page %}disabled{% endif %}">
          <a class="{% if not prev_page %}disabled_link{% endif %}" href="{{base_path}}/game?page={{prev_page}}">
            <span aria-hidden="true">«</span>
            <span class="sr-only">Previous</span>
          </a>
      </li>
      {% for page in 1..pages %}
        <li class="{% if curr_page == page %}active{% endif %}">
          <a class="{% if curr_page == page %}disabled_link{% endif %}" href="{{base_path}}/game?page={{page}}">{{page}}</a>
        </li>
      {% endfor %}
      <li class="{% if not next_page %}disabled{% endif %}">
        <a class="{% if not next_page %}disabled_link{% endif %}" href="{{base_path}}/game?page={{next_page}}">
          <span aria-hidden="true">»</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

{% endblock %}
