{% extends "base.html" %}

{% set current_page = 'game' %}

{% block content %}

  <h2>Lisää peli radalle {{course.name}}, <span id="coursecity">{{course.city}}</span></h2>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div id="weathermessage"></div>

  <br>

  <form method="post" action="{{base_path}}/game" enctype="multipart/form-data">
    <div class="form-group">
      <label>Valitse olosuhteet</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="rain" value="1" id="inputrain"
            {% if attributes.rain %}
              checked
            {% endif %}
          > Sadetta
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="wet_no_rain" value="1"
            {% if attributes.wet_no_rain %}
              checked
            {% endif %}
          > Märkää (ei sadetta)
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="windy" value="1" id="inputwindy"
            {% if attributes.windy %}
              checked
            {% endif %}
          > Tuulta
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="variant" value="1"
            {% if attributes.variant %}
              checked
            {% endif %}
          > Poikkeava rata
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="dark" value="1" id="inputdark"
            {% if attributes.dark %}
              checked
            {% endif %}
          > Pimeää
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="led" value="1"
            {% if attributes.led %}
              checked
            {% endif %}
          > LED
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="snow" value="1" id="inputsnow"
            {% if attributes.snow %}
              checked
            {% endif %}
          > Lunta
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="doubles" value="1"
            {% if attributes.doubles %}
              checked
            {% endif %}
          > Parigolf
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>Lämpötila</label> – saa olla tyhjä
      <div class="row">
        <div class="col-xs-2">
          <input class="form-control" type="text" name="temp" value="{% if attributes.temp %}{{attributes.temp}}{% endif %}" id="inputtemp">
        </div>
        <div class="col-xs-2">
          °C
        </div>
      </div>
    </div>

    <div class="form-group" id="conditions">
      <label>Päivämäärä ja pelin päättymisaika</label>

      <div class="row">
        <div class="col-xs-2">
          Päivämäärä
        </div>
        <div class="col-xs-2">
          <input class="form-control" type="text" name="date" value="{% if attributes.date %}{{attributes.date}}{% else %}{{"now"|date("Y-m-d")}}{% endif %}">
        </div>
        <div class="col-xs-1">
          kellonaika
        </div>
        <div class="col-xs-2">
          <input class="form-control" type="text" name="time" value="{% if attributes.time %}{{attributes.time}}{% else %}{{"now"|date("H:i")}}{% endif %}">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <label>Kommentit</label>
        <textarea class="form-control" name="comment" width="100px" value="{{attributes.comment}}"></textarea>
      </div>
    </div>

    <br>

    <!-- CSV-file import option will be shown only if no players were selected for the game -->
    {% if not players %}

      <div class="form-group">
          <label>Lähetä csv-tiedosto</label>
          <input type="file" name="csv" value="">
      </div>
      <br>

    {% else %}

      {% for player in players %}

        <h4>Pelaajan {{player.firstname}} tulokset</h4>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="legal-player{{player.playerid}}" value="1"
                {% if attribute(attributes, 'legal-player' ~ player.playerid) %}
                  checked
                {% endif %}
              > Laillinen peli
            </label>
          </div>
        </div>

        <div class="form-group">
          <label></label>
          <label>Heitot</label> – merkkaa skipatut väylät nollalla
          <table>
            <tr>
              {% for hole in course.holes %}
                <td>{{hole.hole_num}}</td>
              {% endfor %}
            </tr>
            <tr>
              {% for hole in course.holes %}
                <td><input class="form-control" type="text" name="player{{player.playerid}}-hole{{hole.hole_num}}" value="{% if attribute(attributes, 'player' ~ player.playerid ~ '-hole' ~ hole.hole_num) %}{{attribute(attributes, 'player' ~ player.playerid ~ '-hole' ~ hole.hole_num)}}{% else %}3{% endif %}"></td>
              {% endfor %}
            </tr>
          </table>
        </div>

        <div class="form-group">
          <label>OB:t</label>
          <table>
            <tr>
              {% for hole in course.holes %}
                <td>{{hole.hole_num}}</td>
              {% endfor %}
            </tr>
            <tr>
              {% for hole in course.holes %}
                <td><input class="form-control" type="text" name="player{{player.playerid}}-obhole{{hole.hole_num}}" value="{% if attribute(attributes, 'player' ~ player.playerid ~ '-obhole' ~ hole.hole_num) %}{{attribute(attributes, 'player' ~ player.playerid ~ '-obhole' ~ hole.hole_num)}}{% else %}0{% endif %}"></td>
              {% endfor %}
            </tr>
          </table>
        </div>

        <br>

        <input type="hidden" name="player{{player.playerid}}" value="{{player.playerid}}">

      {% endfor %}

    {% endif %}

    <input type="hidden" name="courseid" value="{{course.courseid}}">

    <button type="submit" class="btn btn-primary">Lähetä</button>
    <a href="{{base_path}}/game"><button type="button" class="btn btn-default">Peruuta</button></a>
  </form>

{% endblock %}

{% block scripts %}
  <script src="{{base_path}}/assets/js/weather.js"></script>
{% endblock %}
