{% extends "base.html" %}

{% set current_page = 'game' %}

{% block content %}

  <h2>Lisää peli radalle {{course.name}}, {{course.city}}</h2>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <br>

  <form method="post" action="{{base_path}}/game">
    <div class="form-group">
      <label>Valitse olosuhteet</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="rain" value="1"
            {% if attributes.rain %}
              checked
            {% endif %}
          > Sadetta (rain)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="wet_no_rain" value="1"
            {% if attributes.wet_no_rain %}
              checked
            {% endif %}
          > Märkää (ei sadetta) (wet_no_rain)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="windy" value="1"
            {% if attributes.windy %}
              checked
            {% endif %}
          > Tuulta (windy)
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="variant" value="1"
            {% if attributes.variant %}
              checked
            {% endif %}
          > Poikkeava rata (variant)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="dark" value="1"
            {% if attributes.dark %}
              checked
            {% endif %}
          > Pimeää (dark)
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="led" value="1"
            {% if attributes.led %}
              checked
            {% endif %}
          > LED (led)
        </label>
      </div>
      
      <div class="checkbox">
        <label>
          <input type="checkbox" name="snow" value="1"
            {% if attributes.snow %}
              checked
            {% endif %}
          > Lunta (snow)
        </label>
      </div>
    </div>

    <div class="form-group">
      <label>Päivämäärä ja pelin päättymisaika</label>

      <div class="row">
        <div class="col-xs-1">
          Päivämäärä
        </div>
        <div class="col-xs-2">
          <input class="form-control" type="text" name="date" value="{% if attributes.date %}{{attributes.date}}{% else %}{{"now"|date("Y-m-d")}}{% endif %}">
        </div>
        <div class="col-xs-1">
          kellonaika
        </div>
        <div class="col-xs-2">
          <input class="form-control" type="text" name="time" value="{% if attributes.time %}{{attributes.time}}{% else %}{{"now"|date("H:i")}}{% endif %}">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <label>Kommentit</label>
        <textarea class="form-control" name="comment" width="100px" value="{{attributes.comment}}"></textarea>
      </div>
    </div>

    <br>
    <div class="form-group">
      <label>Heitot</label>
      <table>
        <tr>
          {% for hole in course.holes %}
            <td>{{hole.hole_num}}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for hole in course.holes %}
            <td><input class="form-control" type="text" name="hole{{hole.hole_num}}" value="{% if attribute(attributes, 'hole' ~ hole.hole_num) %}{{attribute(attributes, 'hole' ~ hole.hole_num)}}{% else %}3{% endif %}"></td>
          {% endfor %}
        </tr>
      </table>
    </div>

    <div class="form-group">
      <label>OB:t</label>
      <table>
        <tr>
          {% for hole in course.holes %}
            <td>{{hole.hole_num}}</td>
          {% endfor %}
        </tr>
        <tr>
          {% for hole in course.holes %}
            <td><input class="form-control" type="text" name="obhole{{hole.hole_num}}" value="{% if attribute(attributes, 'obhole' ~ hole.hole_num) %}{{attribute(attributes, 'obhole' ~ hole.hole_num)}}{% else %}0{% endif %}"></td>
          {% endfor %}
        </tr>
      </table>
    </div>

    <br>

    <input type="hidden" name="courseid" value="{{course.courseid}}">
    <input type="hidden" name="playerid" value="{{user_logged_in.playerid}}">

    <button type="submit" class="btn btn-primary">Lähetä</button>
    <a href="{{base_path}}/game"><button type="button" class="btn btn-default">Peruuta</button></a>
  </form>

{% endblock %}
