{% extends "base.html" %}

{% set current_page = 'game' %}

{% block content %}

  {% import "macros/forms.html" as forms %}
  {% import "macros/list_games.html" as list_games %}

  {% if message is not null %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <h2>{{games[0].course.name}}, {{games[0].course.city}} – {{games[0].gamedate}}</h2>

  <br>

  {{forms.new_game(courses, players, base_path)}}

  <br>

  {{list_games.list_games(games, players, base_path, admin_logged_in)}}

{% endblock %}
