{% extends "base.html" %}

{% set current_page = 'graphs' %}

{% block content %}

  <h2>Pelien määrä kuukausittain</h2>

  <a class="btn btn-primary btn-xs disabled_link" id="omatpelit">Omat pelit</a>
  <a class="btn btn-default btn-xs" id="pelit">Kaikki pelit</a>

  <div id="playergamecountpermonth" style="width: 800px; height: 450px; margin-left: -50px;"></div>
  <div id="gamecountpermonth" style="width: 800px; height: 450px; margin-left: -50px;"></div>

  <br><br>

  <h2>Pelaajien määrä kierroksella</h2>
  <div id="playercount" style="width: 700px; height: 450px;"></div>

  <!-- NOT IMPLEMENTED YET
  <br><br>
  <h2>Pelien lopetusaika ja viikonpäivä</h2>
  <div id="gamehours" style="width: 700px; height: 450px;"></div>
  -->

  <!-- Graph data -->
  {% for gamedated,occurance in gamedates %}
    <span class="gamedateforjs">{{gamedated}},{{occurance}}</span>
  {% endfor %}

  {% for gamedated,occurance in player_gamedates %}
    <span class="playergamedateforjs">{{gamedated}},{{occurance}}</span>
  {% endfor %}

  {% for playercount,occurance in player_count_dist %}
    <span class="playercountdistforjs">{{playercount}},{{occurance}}</span>
  {% endfor %}

  {% for weekday_hour in game_hours %}
    <span class="gamehoursforjs">{{weekday_hour[0]}},{{weekday_hour[1]}}</span>
  {% endfor %}

{% endblock %}

{% block scripts %}
  <script src="{{base_path}}/vendor/amcharts/amcharts.js"></script>
  <script src="{{base_path}}/vendor/amcharts/serial.js"></script>
  <script src="{{base_path}}/vendor/amcharts/pie.js"></script>
  <script src="{{base_path}}/vendor/amcharts/xy.js"></script>

  <script src="{{base_path}}/vendor/amcharts/themes/light.js"></script>
  <script src="{{base_path}}/vendor/amcharts/lang/fi.js"></script>

  <script src="{{base_path}}/assets/js/graphs.js"></script>
{% endblock %}
