{% extends "base.html" %}

{% set current_page = 'player' %}

{% block sidebar %}
  <li class="sidebar-brand">
      <a href="">
          Pelaajat
      </a>
  </li>

  {% for curr_player in players %}
    <li>
        <a href="{{base_path}}/player?player={{curr_player.playerid}}"
          {% if curr_player.playerid == player.playerid %}
            id="selected"
          {% endif %}
        >{{curr_player.firstname}}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}

  {% import "macros/forms.html" as forms %}

  {% if message is not null %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <h2 id="firstname">{{player.firstname}}</h2>

  <br>

  <table style="width:530px">
    <tr>
      <td>Pelatut pelit:</td>
      <td>{{game_count}}</td>
    </tr>
    <tr>
      <td>Heittoja:</td>
      <td>{{throw_count}}</td>
    </tr>
    <tr>
      <td>Viimeisin peli:</td>
      <td>{% if game_count > 0 %}{{latest_game}}{% else %}Ei pelejä{% endif %}</td>
    </tr>
    <tr>
      <td>Holareita:</td>
      <td>{{aces}}</td>
    </tr>
    <tr>
      <td>Birdiejä:</td>
      <td>{{birdies}}</td>
    </tr>

    {% if game_count > 0 %}
      <tr>
        <td>Suosituimmat radat (eniten pelejä):</td>
        <td>1. {{popular_courses[0].name}} ({{popular_courses[0].occurance}})</td>
      </tr>
      <tr>
        <td></td>
        <td>2. {{popular_courses[1].name}} ({{popular_courses[1].occurance}})</td>
      </tr>
      <tr>
        <td></td>
        <td>3. {{popular_courses[2].name}} ({{popular_courses[2].occurance}})</td>
      </tr>
    {% else %}
      <tr>
        <td>Suosituimmat radat (eniten pelejä):</td>
        <td>Ei pelejä</td>
      </tr>
    {% endif %}
  </table>

  <br>

  <a href="{{base_path}}/game?player={{player.playerid}}" class="btn btn-default" role="button">Kaikki pelaajan pelit</a>

  <br><br>

  <h3>Ennätykset</h3>

  {% if game_count > 0 %}
    <br>
    <table style="width:700px">
      <tr>
        <th><b>Päivämäärä</b></th>
        <th><b>Rata</b></th>
        <th><b>Tulos</b></th>
        <td align="right"><b>Par</b></td>
        <th></th>
      </tr>
      {% for high_score in high_scores %}
        <tr>
          <td>{{high_score[0].gamedate}}</td>
          <td>{{high_score[1].name}}</td>
          <td>{{high_score[2]}}</td>
          <td align="right">{{high_score[3]}}</td>
          <td style="padding-left:30px">
            {% if high_score[0].gameid %}
              <a href="{{base_path}}/game/{{high_score[0].gameid}}" class="btn btn-default btn-xs" role="button">
                Katso tuloskortti
              </a>
            {% else %}
              Ei laillisia pelejä
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Ei pelejä</p>
  {% endif %}

  <br>

  <h3>Ratojen tulosten keskiarvot</h3>

  {% if game_count > 0 %}
    Keskiarvot joka vuodelta. Esitetty muodossa "Tulos (Par)".

    <br><br>

    <table style="width:500px">
      <tr>
        <td><b>Rata</b></td>
        {% for year in years %}
          <td><b>{{year}}</b></td>
        {% endfor %}
      </tr>
      {% for course_averages in courses_avg_scores %}
        <tr>
          <!-- First value in the array is the course's name -->
          {% for average_scoring in course_averages %}
            <td>{{average_scoring}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Ei pelejä</p>
  {% endif %}

  <br>

  <h3>Quote of the day</h3>
  <blockquote>
    <section id="quote" class="fancy"></section>
  </blockquote>

{% endblock %}

{% block onload %}
  onload="init();"
{% endblock %}

{% block scripts %}
  <script src="{{base_path}}/assets/js/quote.js"></script>
{% endblock %}
