{% extends "base.html" %}

{% set current_page = 'course' %}

{% block content %}

  <h2>Muokkaa rataa</h2>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/course/{{attributes.courseid}}/edit">
    <div class="form-group">
      <label for="name">Radan nimi</label>
      <input class="form-control" name="name" value="{{attributes.name}}">
    </div>
    <div class="form-group">
      <label for="city">Radan kaupunki</label>
      <input class="form-control" name="city" value="{{attributes.city}}">
    </div>

    <label>Par-tulokset</label>

    <table>
      <tr>
        {% for i in 1..hole_count %}
          <td>{{i}}</td>
        {% endfor %}
      </tr>
      <tr>
        {% for i in 1..hole_count %}
          <td><input class="form-control" name="hole{{i}}" value="{% if attribute(attributes, 'hole' ~ i) %}{{attribute(attributes, 'hole' ~ i)}}{% else %}3{% endif %}"></td>
        {% endfor %}
      </tr>
    </table>

    <br>

    <input type="hidden" name="hole_count" value="{{hole_count}}">

    <br>

      <button type="submit" class="btn btn-primary">Lähetä</button>
      <a href="{{base_path}}/course"><button type="button" class="btn btn-default">Peruuta</button></a>
  </form>

{% endblock %}
