{% extends "base.html" %}

{% set current_page = 'course' %}

{% block sidebar %}
  <li class="sidebar-brand">
      <a href="{{base_path}}/course/list">
          Radat
      </a>
  </li>

  <div style="padding-left: 20px; padding-bottom: 15px;">
    <a class="btn btn-xs {% if not sorted_by_name %}btn-primary disabled_link{% else %}btn-default{% endif %}" href="{{base_path}}/course?course={{course.courseid}}&sort=popularity">Suosio</a>
    <a class="btn btn-xs {% if sorted_by_name %}btn-primary disabled_link{% else %}btn-default{% endif %}" href="{{base_path}}/course?course={{course.courseid}}&sort=name">Nimi</a>
  </div>

  {% for curr_course in courses %}
    <li class="course-li">
        <a href="{{base_path}}/course?course={{curr_course.courseid}}{% if sorted_by_name %}&sort=name{% endif %}" class="sidebar-li"
          {% if curr_course.courseid == course.courseid %}
            id="selected"
          {% endif %}
        >{{curr_course.name}}</a>
    </li>
  {% endfor %}

  <li>
    <a href="{{base_path}}/course/list">Uusi rata</a>
  </li>
{% endblock %}

{% block content %}

  {% import "macros/course_show.html" as course_show %}

  {% if courses %}
    <h2>{{course.name}}, <span id="coursecity">{{course.city}}</span></h2>
    {{course_show.course_show(base_path, course, player, games_played, latest_game, avg_score, par, high_scores, chrono_high_scores, chrono_high_scores_player, score_distribution)}}
  {% else %}
    <p>
      <a href="{{base_path}}/course/list" class="btn btn-default btn-sm" role="button">Lisää uusi rata</a>
    </p>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{base_path}}/vendor/amcharts/amcharts.js"></script>
  <script src="{{base_path}}/vendor/amcharts/serial.js"></script>
  <script src="{{base_path}}/vendor/amcharts/themes/light.js"></script>
  <script src="{{base_path}}/vendor/amcharts/lang/fi.js"></script>

  <script src="{{base_path}}/assets/js/course_graphs.js"></script>

  <script src="{{base_path}}/assets/js/weather.js"></script>
  <script src="{{base_path}}/assets/js/course_list_sorting.js"></script>
{% endblock %}
