{% extends "base.html" %}

{% set current_page = 'course' %}

{% block sidebar %}
  <li class="sidebar-brand">
      <a href="{{base_path}}/course/list">
          Radat
      </a>
  </li>

  {% for curr_course in courses %}
    <li>
        <a href="{{base_path}}/course?course={{curr_course.courseid}}">{{curr_course.name}}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}

  {% import "macros/course_show.html" as course_show %}

  {% if message is not null %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <h2>{{course.name}}, {{course.city}}</h2>

  {{course_show.course_show(base_path, course, player, games_played, latest_game, avg_score, par, high_scores)}}

{% endblock %}
