{% extends "base.html" %}

{% set current_page = 'course' %}

{% block content %}

  {% if message is not null %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

	<h1>Radat</h1>

  <form method="get" action="{{base_path}}/course/new">
    <label>Lisää rata valitsemalla ensin väylien määrä</label>
    <div class="row">
      <div class="col-xs-2">
        <select class="form-control" name="hole_count">
          {% for i in 1..30 %}
            <option value="{{i}}"{% if i == 18 %}selected{% endif %}>{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <button type="submit" class="btn btn-default">Uusi rata</button>
    </div>
  </form>

  <br>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kaupunki</th>
        <th>Väylien määrä</th>
        <th>Ratakartta</th>
        {% if admin_logged_in %}
          <th></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for course in courses %}
        <tr>
          <td><a href="{{base_path}}/course/{{course.courseid}}">{{course.name}}</a></td>
          <td>{{course.city}}</td>
          <td>{{course.number_of_holes}}</td>
          <td><a href="{{course.map}}">Kartta</a></td>
          {% if admin_logged_in %}
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/course/{{course.courseid}}/edit">Muokkaa</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
