{% extends "base.html" %}

{% set current_page = 'course' %}

{% block content %}

  {% import "macros/forms.html" as forms %}
  {% import "macros/course_show.html" as course_show %}

  {% if message is not null %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <h2>{{course.name}}, <span id="coursecity">{{course.city}}</span></h2>

  {% if admin_logged_in %}
    <p>
      {{forms.destroy_button("#{base_path}/course/#{course.courseid}/destroy", "Poista", "Oletko varma että haluat poistaa radan? Radan poistaminen poistaa myös kaikki sillä pelatut pelit.")}}
      <a href="{{base_path}}/course/{{course.courseid}}/edit" class="btn btn-default">Muokkaa</a>
    </p>
  {% endif %}

  {{course_show.course_show(base_path, course, player, games_played, latest_game, latest_gameid, avg_score, par, high_scores, chrono_high_scores, chrono_high_scores_player, score_distribution)}}

{% endblock %}

{% block scripts %}
  <script src="{{base_path}}/vendor/amcharts/amcharts.js"></script>
  <script src="{{base_path}}/vendor/amcharts/serial.js"></script>
  <script src="{{base_path}}/vendor/amcharts/themes/light.js"></script>
  <script src="{{base_path}}/vendor/amcharts/lang/fi.js"></script>

  <script src="{{base_path}}/assets/js/course_graphs.js"></script>
  <script src="{{base_path}}/assets/js/weather.js"></script>

{% endblock %}
