{% extends "base.html" %}

{% set current_page = 'contest' %}

{% block content %}
  <h2>Kisat</h2>

  <a href="{{base_path}}/contest/new" class="btn btn-default" role="button">Uusi kisa</a>

  <br><br>

  {% if contests %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Pelien määrä</th>
        </tr>
      </thead>

      <tbody>
        {% for contest in contests %}
          <tr>
            <td><a href="{{base_path}}/contest/{{contest.contestid}}">{{contest.name}}</a></td>
            <td>{{contest.number_of_games}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>
      Ei kisoja.
    </p>
  {% endif %}
{% endblock %}
