{% extends "base.html" %}
{% block content %}

<h2>Meilahti, Helsinki</h2>

<table style="width:300px">
	<tr>
	  <td>Pelatut pelit:</td>
	  <td>5</td>
	</tr>
	<tr>
	  <td>Viimeisin peli:</td>
	  <td>14:00 29.8.2015</td>
	</tr>
</table>

<br><br>

<a href="#">Kaikki pelit radalla</a>

<br><br>

<h3>Väylät</h3>

<table width='350px'>
<tr>
  <td>Väylä</td>
  <td>&nbsp;</td>
  <td class='td1'>1</td><td class='td1'>2</td><td class='td1'>3</td><td class='td1'>4</td><td class='td1'>5</td><td class='td1'>6</td><td class='td1'>7</td><td class='td1'>8</td><td class='td1'>9</td><td class='td1'>10</td><td class='td1'>11</td><td class='td1'>12</td><td class='td1'>13</td><td class='td1'>14</td><td class='td1'>15</td><td class='td1'>16</td></tr>
<tr>
  <td>Par</td>
  <td>&nbsp;</td>
  <td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td><td class='td1'>3</td></tr>
</table>

{% endblock %}
