{% extends "base.html" %}
{% block content %}

<h2>Muokkaa rataa</h2>

<form>
	<div class="form-group">
		<label for="name">Radan nimi</label>
		<input class="form-control" id="name">
	</div>
	<div class="form-group">
		<label for="city">Radan kaupunki</label>
		<input class="form-control" id="city">
	</div>

	<label>Par-tulokset</label>

	<table>
  		<tr>
  			<td>1</td>
  			<td>2</td>
  			<td>3</td>
  			<td>4</td>
  			<td>5</td>
  			<td>6</td>
  			<td>7</td>
  			<td>8</td>
  			<td>9</td>
  			<td>10</td>
  			<td>11</td>
  			<td>12</td>
  			<td>13</td>
  			<td>14</td>
  			<td>15</td>
  			<td>16</td>
  			<td>17</td>
  			<td>18</td>
  		</tr>
  		<tr>
  			<td><input class="form-control" class="hole1"></td>
  			<td><input class="form-control" class="hole2"></td>
  			<td><input class="form-control" class="hole3"></td>
  			<td><input class="form-control" class="hole4"></td>
  			<td><input class="form-control" class="hole5"></td>
  			<td><input class="form-control" class="hole6"></td>
  			<td><input class="form-control" class="hole7"></td>
  			<td><input class="form-control" class="hole8"></td>
  			<td><input class="form-control" class="hole9"></td>
  			<td><input class="form-control" class="hole10"></td>
  			<td><input class="form-control" class="hole11"></td>
  			<td><input class="form-control" class="hole12"></td>
  			<td><input class="form-control" class="hole13"></td>
  			<td><input class="form-control" class="hole14"></td>
  			<td><input class="form-control" class="hole15"></td>
  			<td><input class="form-control" class="hole16"></td>
  			<td><input class="form-control" class="hole17"></td>
  			<td><input class="form-control" class="hole18"></td>
  		</tr>
  	</table>

	<button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
