{% extends "base.html" %}
{% block content %}

<h2>Pelatut pelit</h2>

<br>

Tuloskortit ovat päivämäärän perusteella laskevassa järjestyksessä.
<br><br>

<table width=50%>
  <tr>
    <td>Olosuhteina voi olla:</td>
    <td>Värikoodaus:</td>
  </tr>
  <tr>
    <td>
      <li>sadetta</li>
      <li>märkää (ei sadetta)</li>
      <li>tuulista</li>
      <li>poikkeava rata</li>
      <li>pimeää</li>
      <li>LED</li>
      <li>lunta</li>
    </td>
    <td valign="top">
      <li><font color="red">hole in one</font></li>
      <li><font color="#00FF00">birdie</font></li>
      <li><font color="#A7C942">par</font></li>
      <li><font color="orange">bogey</font></li>
      <li><font color="#8E668E">over bogey</font></li>
    </td>
  </tr>
</table>

<br><br><br>

<table id='card'>
              <tr>
                <th colspan=30>Meilahti</th>
              </tr>
              <tr>
                <th colspan=30 class='date'>2015-08-29 13:00</th>
              </tr>
              <tr>
                <td class='names'>Väylä</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td>  <td>tulos</td>
                <td>par</td>
              </tr>
              <tr>
                <td class='names'>PAR</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td>  <td>48</td>
                <td>0</td>
              </tr><tr>
                  <td class='names'>Matti</td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='bogey'>3<table>
                    <tr><td class='ob'></td></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='birdie'>2<table>
                    <tr></tr>
                  </table></td><td class='bogey'>4<table>
                    <tr></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='bogey'>4<table>
                    <tr></tr>
                  </table></td><td class='par'>3<table>
                    <tr></tr>
                  </table></td><td class='bogey'>4<table>
                    <tr></tr>
                  </table></td>  <td>51</td><td>+3</td></tr><tr>
                  <td class='names'>Olosuhteet<td colspan=30 class='names'>märkää (ei sadetta)</td>
                </tr><tr>
                  <td class='names'>Kommentit</td>
                  <td colspan=30 class='names'>Väylän 6 korista oli irronnut ketju.</td>
                </tr>
</table>

<a href="{{base_path}}/games/edit/1">(muokkaa)</a>

{% endblock %}
