{% extends "base.html" %}
{% block content %}

  <section>
  	<h3>Tilastoja</h3>

  	<table style="width:530px">
          <tr>
            	<td>Pelejä:</td>
            	<td>196</td>
          </tr>
          <tr>
            	<td>Heittoja:</td>
            	<td>10000</td>
          </tr>
          <tr>
            	<td>Viimeisin peli: </td>
            	<td>Tali (12:00 1.9.2015)</td>
          </tr>
    	</table>

      {% if user_logged_in %}

       	<h3>Käyttäjän {{user_logged_in.firstname}} tilastoja</h3>

       	<table style="width:530px">
            <tr>
              	<td>Pelejä:</td>
              	<td>1</td>
            </tr>
            <tr>
              	<td>Heittoja:</td>
              	<td>51</td>
            </tr>
            <tr>
              	<td>Viimeisin peli: </td>
              	<td>Meilahti (13:00 29.8.2015)</td>
            </tr>
        </table>

      {% endif %}
  </section>

{% endblock %}
