#main-container {
	max-width: 1200px;
	padding: 10px 25px;
	margin: 0px auto;
}

.navbar .container-fluid {
	max-width: 1200px;
	margin: 0px auto;
}

.navbar {
	/*background-color: #66FF66;*/
}

td.td1 {
	text-align: center;
}

/* Score card displaying */
#card {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	width: 50%;
	border-collapse: collapse;
}

#card th {
	font-size: 1.4em;
	text-align: center;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #3087C1;
	color: #ffffff;
}

#card th.date {
	font-size: 1.0em;
	/*text-align: left;*/
	border-top: 0px;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #3087C1;
	color: #ffffff;
}

#card td {
	font-size: 1.0em;
	border: 1px solid #000000;
	width: 20px;
	text-align: center;
	height: 24px;
}

#card td.names {
	padding-left: 4px;
	font-size: 1.0em;
	border: 1px solid #000000;
	width: 60px;
	text-align: left;
}

#card td.ob {
	height: 5px;
	width: 5px;
	border-radius:100%;
	border: 0px;
	background-color: black;
}

#card td.hole_in_one {
	background-color: red;
}

#card td.birdie {
	background-color: #00FF00;
}

#card td.par {
	background-color: #A7C942;
}

#card td.bogey {
	background-color: orange;
}

#card td.over_bogey {
	background-color: #8E668E;
}
