#main-container {
	max-width: 1200px;
	padding: 10px 25px;
	margin: 0px auto;
	/*width: 85%;*/
	font-size: 15px;
	height: inherit;
}

* {
  /*font-family: Georgia, serif;*/
  font-family: Arial, Helvetica, sans-serif;
}

td.td1 {
	text-align: center;
}

a.hidden_link_black {
	color: black;
	text-decoration: underline;
}

a.disabled_link {
	pointer-events: none;
  cursor: default;
}

p.fancy {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

table.course_holes, td.course_holes {
	border: 1px solid lightgrey;
	border-collapse: collapse;
	text-align: center;
}

td, th {
	height: 23px
}

th.course_holes {
	border: 1px solid lightgrey;
	border-collapse: collapse;
	font-weight: lighter;
}

div.ins-imgs-img img {
		max-width: 800px;
		outline: none;
		/*-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);*/
}

blockquote {
	font-size: 15px;
}

.sidebar-li {
  -o-text-overflow: ellipsis;   /* Opera */
  text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
  overflow:hidden;              /* don't show excess chars */
  white-space:nowrap;           /* force single line */
  width: 160px;                 /* fixed width */
}

#game_comment {
	height: 100px;
}

/*
	Score card displaying
*/

#card {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	width: 700px;
	border-collapse: collapse;
}

#card th {
	font-size: 1.4em;
	text-align: center;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #3087C1;
	color: #ffffff;
}

#card th.date, a.hidden_link_score_card {
	font-size: 1.0em;
	/*text-align: left;*/
	border-top: 0px;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #3087C1;
	color: #ffffff;
	text-decoration: none;
}

#card td {
	font-size: 1.0em;
	border: 1px solid #000000;
	width: 20px;
	text-align: center;
	height: 24px;
}

#card td.names {
	padding-left: 4px;
	font-size: 1.0em;
	border: 1px solid #000000;
	width: 60px;
	text-align: left;
}

#card td.ob {
	height: 7px;
	width: 7px;
	border-radius:100%;
	border: 0px;
	background-color: black;
}

#card td.hole_in_one {
	background-color: red;
}

#card td.eagle {
	background-color: yellow;
}

#card td.birdie {
	background-color: #00FF00;
}

#card td.par {
	background-color: #A7C942;
}

#card td.bogey {
	background-color: orange;
}

#card td.over_bogey {
	background-color: #8E668E;
}



/*
	Navigation bar CSS
  http://work.smarchal.com/twbscolor/css/5cb85c449d44ffffffd1ffed1
*/

.navbar-default {
  background-color: #5cb85c;
  border-color: #449d44;
  line-height: 30px;
  font-size: 120%;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 125%;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #d1ffed;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #d1ffed;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #5cb85c;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #d1ffed;
  background-color: #449d44;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #5cb85c;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #d1ffed;
  background-color: #449d44;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #d1ffed;
  background-color: #449d44;
}
.navbar-default .navbar-toggle {
  border-color: #449d44;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #449d44;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #d1ffed;
}

@media (max-width: 600px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d1ffed;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d1ffed;
    background-color: #449d44;
  }
}


.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}



/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#fake-wrapper {
	/* Have sidebar always extend to the bottom of the window */
	position: relative;
	height: inherit;
	/*min-height: 1000px;*/
	/*overflow: hidden;*/
	/*overflow: auto;*/
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
		height: 100%;
}

#wrapper.toggled {
    padding-left: 250px;
}

body {
	height: 100%;
	/*overflow: auto;*/
}

#sidebar-wrapper {
    z-index: 0;
    position: absolute;
		/* top matched to main navbar height */
		/*top: 51px;*/
		top: 0px;
		margin-top: 51px;
    left: 250px;
    width: 0;
    /*height: 300%;*/
		/*height: 100%;*/
		/*height: 1300px;*/
		height: 100%;
    margin-left: -250px;
    /*overflow-y: visible;
		overflow-x: visible;*/
		overflow: inherit;
    background: #EEEEEE;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
		top: -25px;
		left: -80px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
		font-size: 18px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #595959;
    background: rgba(255,255,255,1.0);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 22px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #000000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #595959;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 160px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

		/* Sidebar selection stays highlighted */
		#selected {
				background: rgba(255,255,255,1.0);
		}
}
