<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=800, maximum-scale=1.0"> -->
    <!-- Always in desktop mode -->
    <meta name="viewport" content="width=1024">
    <!--<script type='text/javascript' src='ReView.js'>
      reView.setDefault();
    </script>-->

    <title>
      {% block title %}
        Frisbeegolf-tulospalvelu
      {% endblock %}
    </title>

    {% block head %}
      <!-- Bootstrap (tyylitiedosto) -->
      <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Oma tyylitiedostomme -->
      <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body id="{% block body_id %}{% endblock %}" {% block onload %}{% endblock %}>
  <div id="fake-wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Sovelluksen nimi -->
          <a class="navbar-brand" href="{{base_path}}">Frisbeegolf-tulospalvelu</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <!-- Navigaation linkit -->
            {% if current_page|default('stats') == 'stats' %}
              <li class="active"><a href="{{base_path}}">Tilastot</a></li>
            {% else %}
              <li><a href="{{base_path}}">Tilastot</a></li>
            {% endif %}

            {% if current_page == 'game' %}
              <li class="active"><a href="{{base_path}}/game">Pelit</a></li>
            {% else %}
              <li><a href="{{base_path}}/game">Pelit</a></li>
            {% endif %}

            {% if current_page == 'player' %}
              <li class="active"><a href="{{base_path}}/player?player={{user_logged_in.playerid}}">Pelaajat</a></li>
            {% else %}
              <li><a href="{{base_path}}/player?player={{user_logged_in.playerid}}">Pelaajat</a></li>
            {% endif %}

            {% if current_page == 'course' %}
              <li class="active"><a href="{{base_path}}/course">Radat</a></li>
            {% else %}
              <li><a href="{{base_path}}/course">Radat</a></li>
            {% endif %}

            {% if current_page == 'graphs' %}
              <li class="active"><a href="{{base_path}}/graphs">Kuvaajat</a></li>
            {% else %}
              <li><a href="{{base_path}}/graphs">Kuvaajat</a></li>
            {% endif %}
          </ul>

          {% if user_logged_in %}
            <form class="navbar-form navbar-right" method="post" action="{{base_path}}/logout">
              <button type="submit" class="btn btn-success">Kirjaudu ulos</button>
            </form>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{base_path}}/login">Kirjaudu sisään</a></li>
            </ul>
          {% endif %}

        </div>
      </div>
    </nav>

    <div id="main-container">
      <div id="wrapper">

        {% if current_page == 'player' or current_page == 'course' %}
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">

                  {% block sidebar %}{% endblock %}

              </ul>
          </div>
          <!-- /#sidebar-wrapper -->
        {% endif %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

              <!-- Dynaaminen sisältö tulee tähän -->
              {% block content %}{% endblock %}

            </div>
        </div>
        <!-- /#page-content-wrapper -->

      </div>
    </div>

    {% block body %}
      <!-- jQuery -->
      <script src="{{base_path}}/vendor/jquery.min.js"></script>

      <!-- amcharts -->
      <script src="{{base_path}}/vendor/amcharts/amcharts.js"></script>
      <script src="{{base_path}}/vendor/amcharts/serial.js"></script>
      <script src="{{base_path}}/vendor/amcharts/themes/light.js"></script>

      <!-- Bootstrap (skriptitiedosto) -->
      <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Oma skriptitiedostomme -->
      <script src="{{base_path}}/assets/js/site.js"></script>
      <script src="{{base_path}}/assets/js/graphs.js"></script>
    {% endblock %}
  </div>
  </body>
</html>
