{% extends "base.html" %}
{% block content %}

  {% if error %}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {% endif %}

  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <section>
  	<h2>Tilastoja</h2>

    <br>

  	<table style="width:530px">
          <tr>
            	<td>Pelejä:</td>
            	<td>{{game_count}}</td>
          </tr>
          <tr>
            	<td>Heittoja:</td>
            	<td>{{throw_count}}</td>
          </tr>
          <tr>
            	<td>Viimeisin peli: </td>
            	<td>{{latest_game}}</td>
          </tr>
          <tr>
            <!-- Empty row -->
            <td height=30></td>
          </tr>
          <tr>
            <td>Suosituin rata (eniten pelejä):</td>
            <td>1. {{popular_courses[0].name}} ({{popular_courses[0].occurance}})</td>
          </tr>
          <tr>
            <td></td>
            <td>2. {{popular_courses[1].name}} ({{popular_courses[1].occurance}})</td>
          </tr>
          <tr>
            <td></td>
            <td>3. {{popular_courses[2].name}} ({{popular_courses[2].occurance}})</td>
          </tr>
    	</table>

  </section>

  <br>

  <a href="{{base_path}}/info" class="btn btn-default" role="button">Tietoa</a>

  <br><br>

  <h3>Pelaajan {{player.firstname}} ennätykset</h3>

  <br>

  <table style="width:700px">
    <tr>
      <th><b>Päivämäärä</b></th>
      <th><b>Rata</b></th>
      <th><b>Tulos</b></th>
      <td align="right"><b>Par</b></td>
      <th></th>
    </tr>
    {% for high_score in high_scores %}
      <tr>
        <td>{{high_score[0].gamedate}}</td>
        <td>{{high_score[1].name}}</td>
        <td>{{high_score[2]}}</td>
        <td align="right">{{high_score[3]}}</td>
        <td style="padding-left:30px">
          <a href="{{base_path}}/game/{{high_score[0].gameid}}" class="btn btn-default btn-xs" role="button">Katso tuloskortti</a>
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
